/*
#contentRow{
    margin: 0 auto;
}*/

body {
    text-align: center;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x: auto;
}